<div class="row">
    <div class="col">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" [routerLink]="['/role-list/new']">New role</button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col table-responsive" *ngIf="RoleList != null">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Role name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of RoleList.Items">
                    <td>{{role.Name}}</td>
                    <td><button type="button" class="btn btn-primary mr-1" [routerLink]="['/role-list/'+role.Id]"><span class="fa fa-edit"></span></button>
                        <button type="button" class="btn btn-danger"  (click)="confirmRemove(role, content)"><span class="fa fa-trash-o"></span></button></td>
                </tr>
                <tr *ngIf="RoleList != null && RoleList.Items.length == 0"><td colspan="5">No Data Found</td></tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="RoleList == null" >
        Loading.
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(2)">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">Are you sure want to delete {{ActionItem.Name}}? This action can't be undone.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-danger" (click)="modal.close();remove(ActionItem.Id);">Yes</button>
        <button type="button" class="btn btn-outline-dark btn-primary" (click)="modal.close()">No</button>
    </div>
</ng-template>