<div class="row">
    <div class="col">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" [routerLink]="['/user-list/new']">New user</button>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="User name" aria-label="User name filter" aria-describedby="userNameAddon">
              <div class="input-group-append">
                <div class="input-group-text" ><span class="fa fa-search"></span ></div>              
              </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col table-responsive" *ngIf="UserList != null">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        User name
                    </th>
                    <th>
                        EMail
                    </th>
                    <th>
                        Roles
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of UserList.Items">
                    <td>{{user.UserName}}</td>
                    <td>{{user.Email}}</td>
                    <td><span *ngFor="let role of user.Roles" class="mr-1 badge badge-secondary">{{role.Name}}</span></td>
                    <td class="text-nowrap"><button type="button" class="btn btn-primary mr-1" [routerLink]="['/user-list/'+user.Id]"><span class="fa fa-edit"></span></button>
                        <button type="button" class="btn btn-danger"  (click)="confirmRemove(user, content)"><span class="fa fa-trash-o"></span></button></td>
                </tr>
                <tr *ngIf="UserList != null && UserList.Items.length == 0"><td colspan="5">No Data Found</td></tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="UserList == null" >
        Loading.
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">Are you sure want to delete {{ActionUser.UserName}}? This action can't be undone.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-danger" (click)="modal.close('Save click');remove(ActionUser.Id);">Yes</button>
        <button type="button" class="btn btn-outline-dark btn-primary" (click)="modal.close('Save click')">No</button>
    </div>
</ng-template>